<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/event-log.css">
    <script type="text/javascript" src="../static/js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.glob.js"></script>
    <script type="text/javascript" src="../static/js/date.js"></script>
    <script>
        $(function() {
            function showLogs(date) {
                var currentYear = date.year();
                while (date.year() == currentYear) {

                    $("#logs").append("<li>" +date.date().getDay()+' - '+ date.format("yyyy-MM-dd") + "</li>");
                    date = date.adjust("D", -1);
                }
            }
            showLogs($.date());
        });
    </script>
</head>
<body>
<h1>2011</h1>

<div class="content">
    <ul id="logs">

    </ul>
</div>
</body>
</html> 