.idea/
*.pyc
*.egg-info/

# eclipse project files
.classpath
.project
.cproject
.settings

# virtual python env
python-env*/


# vim
tags
cscope.*
*.swp

# package
*.tgz

# csv import backup files
*_backup.csv
*_errors.csv

#test coverage
.coverage
nosetests.xml
cover
*.py,cover

.cache
secret.py
prod.py
.DS_Store
.DS_Store/
disposable/