<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org/">
<head>
    <meta charset="utf-8"/>
    <meta property="wb:webmaster" content="89dbf0e94a0e8b72">
    <title>eLogger</title>
    <link rel="stylesheet" href="{{ static_url('css/cuiming.css') }}"/>

    <script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script language="JavaScript" src="{{ static_url('js/lib/underscore.js') }}"></script>
    <script language="JavaScript">
        $(function () {

            // hide #back-top first
            $("#back-top").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#back-top').fadeIn();
                    } else {
                        $('#back-top').fadeOut();
                    }
                });

                // scroll body to 0px on click
                $('#back-top a').click(function () {
                    $('body,html').animate({
                        scrollTop:0
                    }, 800);
                    return false;
                });
            });

        });
    </script>
</head>
<body>
<h1>催命3000</h1>

<div id="add_new">
    <form>
        <textarea name="todo"></textarea>
        <button>Add</button>
    </form>
</div>
<ul id="active_list">
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
</ul>
<ul id="waiting_list">
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
    <li class="item">
        <span >查flash进展</span>
        <span class="action">
            <button>完</button>
            <button>下</button>
            <button>改</button>
        </span>
    </li>
</ul>
<p id="back-top">
    <a href="#top"><span></span></a>
</p>
</body>
</html>
