<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta property="wb:webmaster" content="89dbf0e94a0e8b72">
    <title>eLogger</title>
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}"/>
    <script language="JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
</head>
<body>

<div class="login" id="login">
    <img src="{{ static_url('images/login_sample.png') }}"/>

    <div class="logo">
        <a href=""><img src="{{ static_url('images/login_logo.png') }}"/></a>
    </div>
    <div class="form">
        <a style="display: none" href="/auth/weibo"><img src="{{ static_url('images/icon_sinaweibo.png') }}"/></a>
        <a style="display: none" href="#" title="^-^还没做好哈，还是先用web吧"><img src="{{ static_url('images/icon_andriod.png') }}"></a>
        <a style="display: none" href="#" title="^-^还没做好哈，还是先用web吧"><img src="{{ static_url('images/login_iOS.png') }}"></a>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <button type="submit" class="btn btn-large btn-warning">Sign in</button>
                    <br/><br/><a href="#" style="color: #f5deb3;">Do you forget your password?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="signup">

    <form class="form-horizontal">
        <legend>Sign up for eLogger</legend>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="signupEmail" placeholder="Email" class="input-medium">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" id="signupPassword" placeholder="Password" class="input-medium">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="password" id="signupPasswordConfirmed" placeholder="Confirmed Password" class="input-medium">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                 <button type="submit" class="btn input-medium btn-info">Sign up</button>
            </div>
        </div>
    </form>
    <a href="#" type="submit" onclick="return animateStyle('login','signup')" style="color:#f5deb3;">Back to Sign In</a>
</div>
<div class="btn_signup">
    <a href="#" type="submit" class="btn btn-large" onclick="return animateStyle('signup','login')" >Sign up</a>
</div>
<script>
    function animateStyle(signup,login) {

        $("#" + login).css({ "display": "none", "opacity": "1" }).animate({ "opacity": "0" }, 1000);
        $("#" + signup).css({ "display": "block", "opacity": "0" }).animate({ "opacity": "1" }, 1000);
    }
    function animateStyle(login,signup) {

        $("#" + login).css({ "display": "block", "opacity": "0" }).animate({ "opacity": "1" }, 1000);
        $("#" + signup).css({ "display": "none", "opacity": "1" }).animate({ "opacity": "0" }, 1000);
    }

</script>

</body>
</html>
