<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta property="wb:webmaster" content="89dbf0e94a0e8b72">
    <title>eLogger</title>
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>
    <script language="JavaScript" src="{{ static_url('js/jquery-1.7.min.js') }}"></script>
    <script language="Javascript" type="text/javascript">
        $(function(){
           $.get('/api/logs?year=2011&month=12').done(function(data){
               $.each(data, function(key, value) {
                   alert(key + '=' + value);
               });
           }).fail(function(){
               alert('shit');
           });
        });
    </script>
</head>
<body>

<header>
    <img src="{{ static_url('images/logo.png') }}" alt="eLogger">

    <div id="user">{{ user['nickname'] }}</div>
    <div id="month">Dec.</div>
    <div id="year">2011</div>
</header>
<article>

    <section class="log">
        <div class="log_date">2011-12-20</div>
        <div class="log_content">
            <pre>1. 花了一晚上时间用scrapy写个爬虫，把eapoo上有声读物的下载链接全抓下来了
2. scrapy和twisted都是好东西</pre>
        </div>
    </section>

</article>

<footer>
    <p>
        Copyright
    </p>
</footer>

</body>
</html>
