<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org/">
<head>
    <meta charset="utf-8"/>
    <meta property="wb:webmaster" content="89dbf0e94a0e8b72">
    <title>eLogger</title>
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}"/>
    <script language="JavaScript" src="{{ static_url('js/lib/jquery-1.7.min.js') }}"></script>
    <script language="JavaScript" src="{{ static_url('js/lib/jquery.glob.js') }}"></script>
    <script language="JavaScript" src="{{ static_url('js/lib/jquery.date.js') }}"></script>
    <script language="JavaScript" src="{{ static_url('js/lib/underscore.js') }}"></script>
    <script language="JavaScript" src="{{ static_url('js/lib/angular-0.9.19.js') }}" ng:autobind></script>
    <script language="JavaScript" src="{{ static_url('js/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script language="JavaScript" src="{{ static_url('js/controller/eloggerListController.js') }}"></script>
</head>
<body>

<header>
    <img src="{{ static_url('images/logo.png') }}" alt="eLogger">

    <div id="user">{{ user['nickname'] }}</div>
    <div id="month">Dec.</div>
    <div id="year">2011</div>
</header>
<article ng:controller="EloggerListController" ng:init="initialize()">
    <section class="log" ng:repeat="log in logs">
        <div class="log_date">{{!log.date}}</div>
        <div class="log_content">
                <pre>{{!log.content}}</pre>
            <div class="log_manage"><a href="#">修改</a></div>
        </div>
    </section>
    <input type="button" ng:click="fetchNextMonth()" value = "More"/>
</article>
<footer>
    <p>
        Copyright
    </p>
</footer>

</body>
</html>
