<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>eLogger</title>
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}">
</head>
<body>
<header>
    <img src="{{ static_url('images/logo.png') }}" alt="eLogger">

    <div id="user">@BigFool南方</div>
    <div id="month">12月</div>
</header>
<article>
    <section class="log">
        <div class="log_date">2011-12-24</div>
        <div class="log_content">
            <pre>1. 基本一天都在调CSS把 @猪的笨笨Luna 做的页面整合到工程里
2. 申请了一个新的EC2账户，在东京起了个micro instance</pre>
        </div>
        <img src="{{ static_url('images/line.png') }}">
    </section>
    <section class="log">
        <div class="log_date">2011-12-23</div>
        <div class="log_content">
            <pre>1. 下班后，@BigFool南方 泡了2小时weibo没干活，真该死
2. 同一时间，@猪的笨笨Luna 把页面做出来，还是HTML5风格的，她可7年没做过页面了，</pre>
        </div>
        <img src="{{ static_url('images/line.png') }}">
    </section>
</article>

<footer>
    Copyright 
    <a href="http://weibo.com/nanfang05">@BigFool南方</a>
    <a href="http://weibo.com/lunana2008">@猪的笨笨Luna</a>
</footer>
</body>
</html>
