{% extends "layout.html" %}
{% block head%}
<link rel="stylesheet" href="../static/css/retro.css" type="text/css" media="all"/>

<script type="text/javascript" src="../static/js/jquery.glob.js"></script>
<script type="text/javascript" src="../static/js/date.js"></script>

<script type="text/javascript">
    function new_retro(retro_form, retro_data) {
        retro_form.find('textarea[name="goal"]').val(retro_data.goal);
        retro_form.find('textarea[name="good"]').val(retro_data.good);
        retro_form.find('textarea[name="bad"]').val(retro_data.bad);
        retro_form.find('textarea[name="action"]').val(retro_data.action);
        retro_form.dialog({
                    modal: true,
                    title: "Add New Retrospective",
                    width: 1000,
                    height: 700,
                    buttons: [
                        {
                            "text": "Save",
                            "class": "submit",
                            "click": function() {
                                $("#new_form > input[name='retro_on']").val($.date().format("yyyy-MM-dd"));
                                $("#new_form").submit();
                            }
                        },
                        {
                            "text": "Cancel",
                            "class": "cancel",
                            "click": function() {
                                $(this).dialog("close");
                            }
                        }
                    ],
                    resizable: false,
                    draggable: false
                });
    }
    $(function() {
        $("#accordion").accordion({
                    collapsible: true,
                    active:false
                });

        $("button.new").click(function() {
            new_retro($("#new_form_dialog"), {});
        });

        $("button.clone").click(function() {
            new_retro($("#new_form_dialog"), {
                        goal:$(this).parents('table').find('pre.goal').html(),
                        good:$(this).parents('table').find('pre.good').html(),
                        bad:$(this).parents('table').find('pre.bad').html(),
                        action:$(this).parents('table').find('pre.action').html()
                    });
        });

    });
</script>

{% endblock %}

{% block content %}
<article> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
    <h4>Retrospective</h4>
    <button class="new">New Retro</button>


    <div id="accordion">
        {% for retro in retros %}
        <h5><a href="#">{{retro.retro_on}}</a></h5>

        <div>
            <table>
                <tbody>
                <tr>
                    <td>Goal</td>
                    <td>
                        <pre class="goal">{{retro.goal}}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Good</td>
                    <td>
                        <pre class="good">{{retro.good}}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Bad</td>
                    <td>
                        <pre class="bad">{{retro.bad}}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td>
                        <pre class="action">{{retro.action}}</pre>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="clone"> Clone</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        {% endfor %}

    </div>
</article>


<div id="new_form_dialog" class="hidden">
    <form method="POST" id="new_form" action="">
        <fieldset>
            <legend>Goal</legend>
            <textarea name="goal"></textarea>
        </fieldset>
        <fieldset>
            <legend>Good</legend>
            <textarea name="good"></textarea>
        </fieldset>
        <fieldset>
            <legend>Bad</legend>
            <textarea name="bad"></textarea>
        </fieldset>
        <fieldset>
            <legend>Action</legend>
            <textarea name="action"></textarea>
        </fieldset>
        <input class="hidden" name="retro_on" value=""/>
    </form>

</div>
{% endblock %}
