<!DOCTYPE html>
<html>
<head>
    <title>Welcome to eLogger! Enjoy it!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <script language="javascript">
        $(document).ready(function() {
            $('#username').focus();
        });
    </script>
</head>

<body>
<article class="login"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
    <hgroup>
        <h1>eLogger</h1>
    </hgroup>
    <div class="line"></div>
    <!-- Table CODE-->
    <h4>Sign In</h4>

    <form action="/sign-in" method="POST">
        <fieldset>
            <ul>
                <li><label for="username">Username:</label><input type="text" class="login_input" name='username' id="username"/></li>
                <li><label for="password">Password:</label><input type="password" class="login_input" name='password' id="password"/></li>
            </ul>
            <button type="submit" class="button">Sign In</button>
        </fieldset>
    </form>
    <!-- /Table CODE -->
</article>
<!-- Article 1 end -->
</body>
</html>
