{% extends "layout.html" %}
{% block head%}
<link rel="stylesheet" type="text/css" href="../static/css/tasks.css">
<script type="text/javascript" src="../static/js/jquery.idTabs.min.js"></script>
<script type="text/javascript">
    $(function() {
        // Fast and dirty
        $('article.tabs section > h3').click(function() {
            $('article.tabs section').removeClass('current');
            $(this).closest('section').addClass('current');
        });
        var tasks = {};
        // TODO: try autosave plugin or write one
        var saving_stated = false;
        var save_task = function(task_name, task_value) {
            if (!saving_stated) {
                saving_stated = true;
                var data = {};
                data[task_name] = task_value;
                setTimeout(function() {
                    $.post("{{url_for('save')}}", data, function(data) {
                        tasks[task_name] = task_value;
                        $('#saved').removeClass('unsaved').addClass('saved');
                    });
                }, 2000);
                saving_stated = false;
            }
        };

        $.each($('textarea'), function() {
            tasks[$(this).data('key')] = $(this).val();
        });


        $('textarea').keyup(function(event) {
            if ($(this).val() != tasks[$(this).data('key')]) {
                $('#saved').removeClass('saved').addClass('unsaved');
                save_task($(this).data('key'), $(this).val());
            }
        });

        $("#usual2 ul").idTabs("tabs2");

    });
</script>
{% endblock %}

{% block content %}
<article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
    <h4>Task List</h4>

    <div class="line"></div>
    <div class="articleBody clear">
        <div id="usual2" class="usual">
            <ul>
                <li><a href="#inbox" class="selected">Inbox</a></li>
                <li><a href="#follow_up">Follow Up</a></li>
                <li><a href="#hold">Hold</a></li>
                <li><a href="#archive">Archive</a></li>
            </ul>
            <div id="inbox"><textarea data-key="inbox"  class="tasks active">{{inbox}}</textarea></div>
            <div id="follow_up"><textarea data-key="follow_up" class="tasks inactive">{{follow_up}}</textarea></div>
            <div id="hold" ><textarea data-key="hold" class="tasks inactive">{{hold}}</textarea></div>
            <div id="archive" ><textarea data-key="archive" class="tasks inactive">{{archive}}</textarea></div>
        </div>
    </div>
    <span id="saved" class="unsaved">Saved</span>
</article>

{% endblock %}
