{% extends "layout.html" %}

{% block head%}
<link rel="stylesheet" type="text/css" href="../static/css/todos.css">

<script type="text/javascript" src="../static/js/jquery.glob.js"></script>
<script type="text/javascript" src="../static/js/date.js"></script>
<script type="text/javascript" src="../static/js/jquery.tmpl.js"></script>

<script type="text/javascript">
    $(function() {
        var uploading = false;
        var template = $("#todo_template");
        var targets = {
            "T":"#tops",
            "C":"#comings"
        };

        var operations = {
            "A": append_todo,
            "P": prepend_todo
        };

        function append_todo(target, todo) {
            make_item(todo).appendTo(target);
        }

        function prepend_todo(target, todo) {
            make_item(todo).prependTo(target);
        }

        function refresh(url, target) {
            $.getJSON(url, function(data) {
                $(target).html('');
                $.each(data, function(idx, todo) {
                    append_todo(target, todo);
                });
            });
        }

        function make_item(todo) {
            return template.tmpl({
                        id:todo.id,
                        title:todo.t,
                        score:todo.s
                    }
            )
        }


        function create_todo(content) {
            uploading = true;
            $.post("{{url_for('create')}}", {todo:content},
                    function(data) {
                        var result = $.parseJSON(data);
                        var operation = operations[result.op];
                        var target = targets[result.t];
                        var todo = result.todo;

                        operation(target, todo);
                        uploading = false;
                    }
            );
        }

        $("#tops").sortable({
                    receive: function(event, ui) {
                        sortableIn = 1;
                    },
                    over: function(e, ui) {
                        sortableIn = 1;
                    },
                    out: function(e, ui) {
                        sortableIn = 0;
                    },
                    beforeStop: function(e, ui) {
                        if (sortableIn == 0) {
                            ui.item.remove();
                        }
                    }
                }).disableSelection();

        $("#create_todo").keydown(function(event) {
            if (event.keyCode == '13' && !uploading) {
                create_todo($(this).val());
            }
        });

        refresh("todos/tops", targets["T"]);
        refresh("todos/comings", targets["C"]);
    });
</script>
{% endblock %}
{% block content %}
<article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

    <h4>Todos</h4>

    <div class="line"></div>
    <div class="articleBody clear ">
        <ol id="tops" class="tops"></ol>
        <input type="text" id="create_todo"/>
        <ol id="comings" class="comings"></ol>
        <span>more ...</span>
    </div>
</article>
<script id="todo_template" type="text/x-jquery-tmpl">
    <li data-score="${score}" data-id="${id}">
        <span class="title">${title}</span>
    </li>
</script>
{% endblock %}
