/* css reset, yahoo style */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* general styles */
body {
    margin-top: 10px;
    color: #491c09;
    font-size: 12px;
    line-height: 140%;
    background: url(../images/bg.jpg) top center fixed;
}

header {
    position: relative;
    margin: 0 auto;
    width: 1017px;
    height: 150px;
    background: url(../images/top_roll.png) no-repeat;
}

header img {
    float: left;
    padding: 5px 30px;
}

article {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 1017px;
    padding-bottom: 20px;
    /*height: 400px;*/
    background: url(../images/body_roll.png) top center repeat-y;
}

article section {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 900px;
}

footer {
    color: #af8053;
    clear: both;
    margin: 0 auto;
    padding: 20px 0 0 0;
    text-align: center;
    vertical-align: bottom;
    width: 1017px;
    height: 102px;
    background: url(../images/bottom_roll.png) no-repeat;
    font-family: 'Comic Sans MS', serif;
}

a:link, a:active {
    color: #af8053;
    text-decoration: none;
}

a:visited {
    color: #af8053;
    text-decoration: none;
}

a:hover {
    color: #491c09;
}

/* elements styles*/
#user {
    float: right;
    padding: 10px 60px 0 0;
    font-family: 'Comic Sans MS', serif;
    color: #5c361c;
    font-weight: bold;

}

#month {
    font-family: 'Comic Sans MS', serif;
    position: absolute;
    left: 24px;
    top: 80px;
    font-size: 20px;
    padding: 40px 60px;
    color: #491c09;
    font-weight: bold;
}

#year {
    font-family: 'Jokerman', 'Comic Sans MS', serif;
    position: absolute;
    right: 24px;
    top: 50px;
    font-size: 20px;
    padding: 40px 60px;
    color: #491c09;
    font-weight: bold;
}

/* class */
.log:before,
.log:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.log:after {
    clear: both;
}

.log {
    padding-top: 10px;
}

.log:hover .log_manage {
    display: block;
}

.log_title {
    float: left;
    text-align: center;
    width: 125px;
    font-size: 16px;
    font-family: cursive;
}

.log_content {
    position: relative;
    text-indent: 0;
    margin-left: 130px;
    margin-right: 38px;
    font-size: 12px;
    border-bottom: 1px #af8053 solid;
    padding-bottom: 20px;
}

.log_manage {
    position: absolute;
    left: 0;
    bottom: 3px;
    display: none;
}

.log_content p {
    margin-bottom: 3px;
}

/* 
tools
*/

.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 900px;
    height: 500px;
    margin-left: -450px;
    margin-top: -250px;
    z-index: 1;
}

.login  .logo {
    position: absolute;
    top: 100px;
    right: 150px;
}

.login  .btn {
    position: absolute;
    top: 250px;
    right: 120px;
    width: 200px;
    margin: 10px;
}

.loading {
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 50px;
}

.edit_log {
    height: 100%;
    display: none;
}

.edit_log textarea {
    padding: 5px;
    margin: auto;
    width: 97%;
    height: 97%;
    display: block;
    outline: none;
}