.first {
    color: red;
}

input#create_todo {
    width: 400px;
}

ol {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    list-style-type: none;
}

ol.tops {
    counter-reset: sectioncounter;
}

ol.tops > li {
    color: blue;
}

ol.tops > li:before {
    content: counter(sectioncounter);
    counter-increment: sectioncounter;
}

ol.tops > li:first-child {
    color: red
}


ol.comings > li {
    color: green;
}